tests/__pycache__
.pytest_cache
.venv
__pycache__
*.pyc
*.cpython-313.pyc
/tests/snapshots
.env
tests/generated_cover_letters/


tests/generated_cover_letters/

tests/generated_cover_letters/

tests/generated_cover_letters/

tests/generated_cover_letters/

tests/generated_cover_letters/
__pycache__/main.cpython-313.pyc
